# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/


# From CKAN
*.egg-info
*.pyc
*.swp
*.swo
*~
#*
.#*
.DS_Store
ckan.egg-info/*
sandbox/*
#build/
#dist/
distribute-*

# pylons
development.ini*
sstore/*
data/*
pylons_data/*
#ckan/i18n/*/*/*.mo

# other
pip-requirements-local.txt
migrate/*
build/*
tmp/*
solr_runtime/*
fl_notes.txt
*.ini
.noseids
*~

# custom style
ckan/public/base/less/custom.less

# nosetest coverage output
#.coverage
htmlcov/*

# CKAN
ckan.log
ckan_deb/DEBIAN/control
ckan_deb/DEBIAN/prerm

# node.js
node_modules/
