{% extends "page.html" %}

{% block breadcrumb_content %}
  <li class="active">{{ 'Statistics' }}</li>
{% endblock %}

{% block primary_content %}
  <article class="module">
    
    {#
      <div>joe: {{ c.datasets_count.__repr__() }}</div>
    #}
    

    <section id="stats-most-edited" class="module-content tab-content active">
      <h2>組織即時管理統計資訊</h2>
      <input type="hidden" id="hidConfig" value="org" /> 
      <button id="btnDownload" class="btn btn-primary btn-print">下載</button>
      {% if c.orgstats %}
        <table id="export_table" class="table table-chunky table-bordered table-striped">
          <thead>
            <tr>
              <th class="metric">組織</th>
              <th style="">資料集數量</th>
              <th class="">資料集建議則數(回覆數)</th>
              <th class="">資料集意見回饋則數</th>
              <th class="">資料集逾期未更新</th>
            </tr>
          </thead>
          <tbody>
            {% for orgstat in c.orgstats %}
              <tr >
                <td class="metric">{{ orgstat.org_name }}</td>
                <td class="metric">{{ orgstat.dataset_counts }}</td>
                <td class="metric">{{ orgstat.suggest_counts }}</td>
                <td class="metric">{{ orgstat.comment_counts }}</td>
                <td class="metric">{{ orgstat.outdate_counts }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p class="empty">{{ _('No edited datasets') }}</p>
      {% endif %}
    </section>

    
  </article>
{% endblock %}

{% block secondary_content %}
  <section class="module module-narrow">
    <h2 class="module-heading"><i class="icon-bar-chart icon-medium"></i> {{ _('Statistics Menu') }}</h2>
    <nav data-module="stats-nav">
      <ul class="unstyled nav nav-simple">
	<li class="nav-item"><a href="/tnstats/index">組織資料集瀏覽與下載統計</a></li>
        <li class="nav-item"><a href="/tnstats/group">群組資料集瀏覽與下載統計</a></li>
        <li class="nav-item"><a href="/tnstats/keyword">關鍵字統計</a></li>
        <li class="nav-item active"><a href="/tnstats/org">組織即時管理統計資訊</a></li>
      </ul>
    </nav>
  </section>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% resource 'tnext_jscss/js/tnstats.js' %}
{% endblock %}
