{% extends "page.html" %}

{% block subtitle %}{{ _('Show') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for '應用展示', controller='ckanext.tnext.controllers.TnStats:TnStatsController', action='show' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content" style="padding:30px 70px;">


      <div style="font-size:16px;">
        <p style="line-height:26px;">本平台應用示範APP原始程式碼下載，歡迎對臺南市政府開放資料應用有興趣的開發者自行下載取用，作為開發參考或改寫依據</p>
        <br/>
        <div style="line-height:26px;">
          <table style="width:100%;">
          <tr style="border-top: 1px solid #333;">
            <th style="width:130px;"></th>
            <th>App名稱及內容</th>
            <th style="width:125px;">iOS</th>
            <th style="width:125px;">Android</th>
          </tr>
          <tr style="border-top: 1px solid #333;border-bottom: 1px solid #333;">
            <td style="text-align:center;"><img src="tn-free-logo.png" style="width:114px;" /></td>
            <td><p>臺南福利通</p>
<p>以健康福利為訴求，臺南市政府提供APP讓民眾快速尋找醫療、護理、福利、藥局、公廁與照顧等服務，並以明確圖示與明顯字體的有善易用操作介面方便民眾使用(原始碼下載：
<a href="http://goo.gl/jX8Gru" target="_blank">Android</a>、
<a href="http://goo.gl/4Fc7WL" target="_blank">iOS</a>、
<a href="http://goo.gl/AgnMRd" target="_blank">Widnows Phone</a>
)</p></td>
            <td style="text-align:center;"></td>
            <td style="text-align:center;"></td>
          </tr>
          <tr style="border-top: 1px solid #333;border-bottom: 1px solid #333;line-height:100px;">
            <td colspan="4">&nbsp;</td>
          </tr>

          </table>
        </div>
      </div>



    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
