{% import 'macros/form.html' as form %}

{% set title = data.get('title', '') %}
{% set user_id = data.get('user_id', '') %}
{% set description = data.get('description', '') %}
{% set dataset_name = data.get('dataset_name', '') %}
{% set suggest_columns = data.get('suggest_columns', '') %}



{# This provides a full page that renders a form for publishing a dataset. It can
then itself be extended to add/remove blocks of functionality. #}
<form class="dataset-form form-horizontal" method="post" data-module="basic-form" action enctype="multipart/form-data">
  <input type="hidden" id="id" name="id" value="{{ data.get('id', '') }}" />

  
  {% block offering_user_id %}
    {{ form.input('user_id', id='field-user_id', label='建議人', placeholder='', value=user_id, error=errors['UserId'], classes=['control-full'], is_required=true) }}
  {% endblock %}

  {% block offering_title %}
    {{ form.input('title', id='field-title', label=_('Title'), placeholder='', value=title, error=errors['Title'], classes=['control-full', 'control-large'], is_required=true) }}
  {% endblock %}

  {% block offering_dataset_name %}
    {{ form.input('dataset_name', id='field-dataset_name', label='建議資料集名稱', placeholder='', value=dataset_name, error=errors['DatasetName'], classes=['control-full'], is_required=false) }}
  {% endblock %}
  
  {% block offering_suggest_columns %}
    {{ form.input('suggest_columns', id='field-suggest_columns', label='建議開放的欄位', placeholder='', value=suggest_columns, error=errors['SuggestColumns'], classes=['control-full'], is_required=false) }}
  {% endblock %}

  {% block offering_description %}
    {{ form.markdown('description', id='field-description', label=_('Description'), placeholder='', value=description, error=errors['Description']) }}
  {% endblock %}

  {% block form_actions %}
    <div class="form-actions">
      {% block delete_button %}
        {% if h.check_access('package_delete', {'id': data.get('id', '')}) and not data.state == 'deleted' %}
          {% set locale = h.dump_json({'content': _('Are you sure you want to delete this data request?')}) %}
          <a class="btn btn-danger pull-left" href="{% url_for controller='ckanext.datarequests.controllers.ui_controller:DataRequestsUI', action='delete', id=data.get('id') %}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
        {% endif %}
      {% endblock %}
      <button class="btn btn-primary" type="submit" name="save">{% block save_button_text %}{{ _('Create Data Request') }}{% endblock %}</button>
    </div>
  {% endblock %}
</fom>