{% extends "page.html" %}

{% block styles %}
  {{ super() }}
  <!--<link rel="stylesheet" href="/datarequests.css" />-->
{% endblock %}

{% block subtitle %}{{ _('Data Requests') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Data Requests'), controller='ckanext.tnext.controllers.Suggest:SuggestsController', action='index' %}</li>
{% endblock %}

{% block secondary_content %}

  <section class="module module-narrow module-shallow">
    <h2 class="module-heading"><i class="icon-info-sign"></i>{% trans %}資料建議{% endtrans %}</h2>
    <div class="module-content">
      <p>
        <p>您想要政府開放更多的資料集嗎？請在這裏告訴我們您要什麼？</p>
        <p>您可以點選「新增討論主題」提出您想要政府開放資料集建議，也可以瀏覽其他民眾提出的資料集需求，並表達您的意見。我們會依據您提供的資訊請相關機關研議。您的寶貴建議是各機關推動資料開放的原動力!</p>
      </p>
      {% block secondary_content_additional_info %}
      {% endblock %}
    </div>
  </section>
  
{% endblock %}
