{% extends "suggest/base.html" %}



{% block primary_content %}
  <article class="module">
    <div>joe: {{ c.suggests.__repr__() }}</div>
    {% block page_primary_action %}
        {% if h.check_access('suggest_create') %}
          <div class="page_primary_action">
            {% link_for _('Add Data Request'), controller='ckanext.tnext.controllers.Suggest:SuggestsController', action='new', class_='btn btn-primary', icon='plus-sign-alt' %}
          </div>
        {% endif %}
        {{ h.snippet('suggest/snippets/suggest_list.html', suggest_count=c.suggest_count, suggests=c.suggests, page=c.page)}}
    {% endblock %}

    {#
    
    <div>joe: {{ c.page.__repr__() }}</div>
    <section id="stats-most-edited" class="module-content tab-content active">
      <h2></h2>
      <table class="table table-striped table-bordered table-hover">
        <caption>caption</caption>
        <thead>
          <tr>
            <th>日期</th>
            <th>標題</th>
            <th>建議人</th>
            <th>瀏覽次數</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>

    </section>
    
    #}
    
    {% block page_pagination %}
        {{ c.page.pager() }}  
    {% endblock %}
    
  </article>
  
{% endblock %}


{% block secondary_content %}
  {{ super() }}
  {% for facet in c.facet_titles %}
    {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
  {% endfor %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  
{% endblock %}


