{% extends "suggest/base.html" %}

{% block title %}資料建議 - {{c.suggest.get('title', '')}}{% endblock %}

{% set datarequest_id = c.suggest.get('id') %}

{% block breadcrumb_content %}
  <li>{% link_for '資料建議', controller='ckanext.tnext.controllers.Suggest:SuggestsController', action='index' %}</li>
  <li class="active">{{ c.suggest.get('title') }}</li>
{% endblock %}

{% block primary_content %}
    {#
    {% if c.suggest.closed %}
      <span class="uppercase label label-closed pull-right">
        <i class="icon-lock"></i>
        {{ _('Closed') }}
      </span>
    {% else %}
      <span class="uppercase label label-open pull-right">
        <i class="icon-unlock"></i>
        {{ _('Open') }}
      </span>
    {% endif %}
    #}
<div class="module-content">

  <h1 class="text-center {% block page_heading_class %}page-heading{% endblock %}">
    {% block page_heading %}
      {{ c.suggest.get('title') }}
    {% endblock %}
  </h1>

  {% block suggest_detail %}
    <div class="info">
      <dl class="dl-horizontal" style="font-size:1.2em;">
        <!--<dt>標題</dt>
        <dd>{{ c.suggest.get('title') }}</dd>-->
        <dt>建議人</dt>
        <dd><p>&nbsp;{{ c.suggest.get('user_id', '') }}</p></dd>
        <dt>建議資料集名稱</dt>
        <dd><p>&nbsp;{{ c.suggest.get('dataset_name', '') }}</p></dd>
        <dt>建議開放的欄位</dt>
        <dd><p>&nbsp;{{ c.suggest.get('suggest_columns', '') }}</p></dd>
        <dt>{{_('Description')}}</dt>
        <dd>
          {% if c.suggest.get('description') %}
            <p class="notes embedded-content">
              {{ h.render_markdown(c.suggest.get('description', '')) }}
            </p>
          {% else %}
             <p>&nbsp;</p>
          {% endif %}
        </dd>

        <dt>瀏覽次數</dt>
        <dd><p>&nbsp;{{ c.suggest.get('views', '') }}</p></dd>
        <dt>建議日期</dt>
        <dd><p>&nbsp;{{ c.suggest.get('open_time')[:16] }}</p></dd>
      </dl>

    </div>
    {#
    <p>{{ c.suggest.__repr__() }}</p>
    #}

    {% block primary_content_comments %}
      {% snippet "suggest/snippets/comments.html", comments=c.suggest.comments %}
    {% endblock %}


    {% block primary_comments_form %}
      {% if h.check_access('suggest_comment') %}
        <div class="well alert">
          {{ h.snippet('suggest/snippets/comment_form.html', suggest_id=c.suggest.id) }}
        </div>
      {% endif %}
    {% endblock %}
  <p>&nbsp;</p>

  {% endblock %}

  {% block suggest_disqus %}
    <p><hr/></p>
    <p></p>
    {{ h.disqus_comments() }}
    <p><hr/></p>
  {% endblock %}

  {#% block datarequest_additional_info %}
    {% snippet "suggest/snippets/additional_info.html", datarequest=c.datarequest %}
  {% endblock %#}
</div>
{% endblock %}